/*$secondary-color: rgb(128, 128, 128);*/
.scroll {
  position: absolute;
  bottom: 0;
  width: 1.9rem;
  height: 3.5rem;
  border: 3px solid #adadad;
  border-radius: 2rem;
  margin-bottom: 2rem;
  z-index: 5; }
  .scroll_wheel {
    background-color: #e8cc33;
    width: 40%;
    height: 25%;
    margin: 2px auto;
    border-radius: 0.6rem;
    animation: scroll-movement 1.65s infinite;
    animation-delay: 0.4s;
    animation-direction: normal;
    z-index: auto; }

@keyframes scroll-movement {
  0% {
    transform: translateY(0);
    opacity: 0.8; }
  20% {
    opacity: 1; }
  70% {
    opacity: 0;
    transform: translateY(270%); }
  100% {
    transform: translateY(100%);
    opacity: 0; } }

/*$secondary-color: rgb(128, 128, 128);*/
.background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(circle at 95% 95%, transparent 0%, #1d2748 20%);
  z-index: 2 !important; }

.background-image {
  width: 75%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1 !important;
  object-fit: contain;
  object-position: right bottom; }

@media (min-width: 768px) {
  .background-overlay {
    background: radial-gradient(circle at 95% 95%, transparent 0%, transparent 10%, #1d2748 25%); } }

@media (min-width: 1200px) {
  .background-image {
    width: 50%; } }

/*$secondary-color: rgb(128, 128, 128);*/
.header {
  width: auto;
  margin: auto auto;
  display: flex;
  flex-direction: row; }
  .header:before, .header:after {
    color: #e8cc33;
    font-size: 6rem;
    line-height: 6rem;
    height: auto;
    margin: auto 10px;
    vertical-align: middle; }
  .header:before {
    content: "{"; }
  .header:after {
    content: "}"; }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header__name {
    color: #f5f1ed;
    font-size: 2rem;
    width: 100%; }
  .header__sub-title {
    color: #adadad;
    font-size: 1.4rem;
    margin: 0 7px; }
    .header__sub-title.animated {
      margin-right: 0; }
  .header__placeholder {
    visibility: hidden;
    /*Magic value for margin*/
    margin-top: -3.4rem; }

.animated:after {
  content: "|";
  color: #f5f1ed;
  animation: pulse 0.3s infinite; }

@keyframes pulse {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media (min-width: 576px) {
  .header__name {
    font-size: 3rem; }
  .header__sub-title {
    font-size: 2.3rem; } }

/*$secondary-color: rgb(128, 128, 128);*/
.landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  /*background-color: $main-color;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f5f1ed; }
  .landing-page * {
    z-index: 3; }

/*$secondary-color: rgb(128, 128, 128);*/
/*$secondary-color: rgb(128, 128, 128);*/
.tab {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  max-width: 85%;
  background-color: #f5f1ed;
  border-radius: 14px;
  margin: 1rem 15px;
  overflow: hidden;
  box-shadow: 3px 5px 0px 0px #e8cc33; }
  .tab__title {
    color: #e8cc33;
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #1d2748;
    padding-bottom: 4px; }
  .tab__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 0; }
  .tab__item {
    color: #1d2748;
    font-size: 1.2rem;
    font-weight: 500; }
  .tab__title + div {
    padding: 0.7rem 1rem; }

.skills {
  background-color: #adadad;
  color: #1d2748; }
  .skills__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 50%;
    width: auto;
    padding: 20px 0;
    margin: auto; }
    .skills__content > * {
      padding: 5px 10px;
      display: flex;
      flex-wrap: wrap; }
  .skills__title {
    font-size: 4rem;
    font-weight: bold;
    color: #1d2748;
    text-shadow: 3px 3px #e8cc33;
    text-align: center; }

/*$secondary-color: rgb(128, 128, 128);*/
.project {
  min-width: 15rem;
  max-width: 85%;
  background-color: #adadad;
  border-radius: 14px;
  margin: 1rem 15px;
  overflow: hidden;
  box-shadow: 3px 5px 0px 0px #e8cc33;
  width: 20rem; }
  .project__title {
    color: #1d2748;
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #adadad;
    padding-bottom: 4px; }
  .project__title + div {
    width: 100%;
    height: 10rem; }
  .project__image-container {
    display: flex; }
  .project__image {
    width: auto;
    max-width: 100%;
    height: 100%;
    margin: 0 auto; }
  .project__technologies {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 4rem; }
    .project__technologies > i {
      font-size: 3rem;
      margin: auto 5px; }

/*$secondary-color: rgb(128, 128, 128);*/
.project__details {
  display: flex;
  flex-direction: column; }

.project__description {
  padding: 7px 10px; }

.project__buttons {
  display: flex;
  flex-direction: row; }

/*$secondary-color: rgb(128, 128, 128);*/
.projects {
  display: flex;
  flex-direction: column;
  background-color: #1d2748;
  color: #f5f1ed;
  align-items: center; }
  .projects__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 50%;
    max-width: 70rem;
    margin: 2rem 0; }
  .projects__title {
    font-size: 4rem;
    font-weight: bold;
    color: #adadad;
    text-shadow: 3px 3px #e8cc33;
    text-align: center; }

.credits {
  min-height: 40rem; }

/*$secondary-color: rgb(128, 128, 128);*/
body {
  box-sizing: border-box; }

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000; }

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem; }
